*.out
*.log
*.pdf
*.swp

code_model/tphiv_*
code_model/*.out
code_model/CODECHECK/*.out

code_analysis/*.csv
code_analysis/*.pdf
code_analysis/analyze_scenario.pdf

Rlibrary/stiagent/*
Rlibrary/lib/*
Rlibrary/stiagent.Rcheck/*
Rlibrary/*.gz

inputs/~*
inputs_A/*.csv
inputs_B/*.csv
inputs_C/*.csv

outputs/*.csv
outputs/*.out

SF_MC_timestamp.txt

*.RData
*.Rhistory

