*.out
*.log
*.pdf
*.swp

code_model/tphiv_*
code_model/*.out
code_model/CODECHECK/*.out

code_analysis/*.csv
code_analysis/*.pdf
code_analysis/analyze_scenario.pdf

Rlibrary/stiagent/*

SF_MC_timestamp.txt
